<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akilliev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HavaTemizleyiciActivity"
            android:exported="false" />
        <activity
            android:name=".HavaKalitesiActivity"
            android:exported="false" />
        <activity
            android:name=".OrtakAlanlarActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AracSarjActivity"
            android:exported="false" />
        <activity
            android:name=".HavuzIslemleriActivity"
            android:exported="false" />
        <activity
            android:name=".SulamaSistemiActivity"
            android:exported="false" />
        <activity
            android:name=".CimBicmeActivity"
            android:exported="false" />
        <activity
            android:name=".BahceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjeksiyonActivity"
            android:exported="false" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AkilliKilitActivity -->
        <activity
            android:name=".AkilliKilitActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- SesSistemiActivity -->
        <activity
            android:name=".SesSistemiActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>